body {
    margin-top: 50px;
}

.logo {
    margin-left: 30px;
}

#top_bar .navbar-inner {
    min-height: 20px;
    background-color: #0088cc;
}

#top_bar .brand {
    padding: 5px 20px 0 50px;
}

#top_bar .divider-vertical {
    height: 30px;
}

#top_bar li {
    font-size: 12px;
    line-height: 12px;
}

#menu .dropdown-menu {
    display: block;
    position: static;
    margin: 0 0 0 30px;
}

#menu .dropdown-menu li {

}

#menu .dropdown-menu li.overage {
}

#menu .dropdown-menu li.main {
    background-color: #0088cc;
}

#menu .dropdown-menu li.main a {
    color: #fff;
}

footer {
    margin-top: 20px;
}

.copyright {
    font-size: 12px;
}